/* 
    Created on : Dec 2, 2022, 8:52:04 AM
    Author     : bilge
*/

body {
    font-family: hack, consolas;
    text-align: center;
}

header {
    background-color: seagreen;
}

table {
    padding: 10px;
    left: 50%;
}

img.thumbnail {
    height: 100px;
    width: 100px;
}
